//! ========================================================VAriables
$black: #000;
$lit-black: #202020;
$white: #fff;
$lit-gray: #7c7c7c;
$dark-gray: #1d1e1e;
$black-2: #0e0e0e;
$black-3: #0d0c0c;
$balck-4: #2c2c2c;
$black-5: #171717;
$black-6: #161616;
$grey: #bebebe;
$red: #c3423f;
$blue: #0077b6;
$blue-2: #0072fc;
$green: #00a336;
$pink: #d11fcd;
$yellow: #e89005;
// !variables end
// !body
@font-face {
  font-family: 'Gelion Regular';
  font-style: normal;
  font-weight: normal;
  src: local('Gelion Regular'),
    url('../font/gelion-cufonfonts-webfont/Gelion\ Regular.woff') format('woff');
}
body {
  font-family: 'Gelion Regular';
  font-style: normal;
  font-weight: normal;
}
.bg-gray {
  background-color: $lit-gray;
  height: 40px;
  opacity: 0.5;
}
//!=========== Nav
nav {
  padding: 12px;
  select {
    background: $lit-black !important;
    color: #fff !important;
    width: 150px;
    border-radius: 8px;
  }
  form {
    width: auto;
  }
  .search {
    width: auto;
    position: relative;
    img {
      position: absolute;
      width: 16px;
      top: 10px;
      left: 10px;
    }
  }
  input {
    width: 100% !important;
    background: $lit-black !important;
    color: #fff !important;
    border-radius: 8px;
    padding-left: 35px !important;
  }
  ul li {
    margin-right: 20px;
    a {
      color: $white;
      display: block;
      padding-top: 9px !important;
      font-weight: 500;
    }
    .button {
      width: 100% !important;
      padding: 7px 12px 7px 12px !important;
      background: $blue;
      color: #fff;
      border-radius: 8px;
      font-size: 15px;
      text-decoration: none;
      margin-top: 14px;
    }
  }
}
// Main
.main {
  background-position: right;
  background-size: cover;
  background-repeat: no-repeat;
  background-color: #000;
  margin: 110px 20px 20px;
  padding: 100px 0;
  border-radius: 15px;

  .box {
    padding: 0px 100px 0 50px;
    color: $white;
    h1 {
      font-size: 2.65rem;
      padding-right: 100px;
    }
    .blue {
      background-color: $blue;
      color: $white;
      text-align: center;
      display: block;
      text-decoration: none;
      width: 50%;
      height: 40px;
      border-radius: 6px;
      padding-top: 7.5px;
      margin-top: 30px;
    }
  }
}
// Borderless
.borderless {
  margin: 0px 5px 20px;
  .img {
    background-color: #000;
    height: 100%;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    img {
      height: 100%;
    }
  }
  .box {
    background-color: $black;
    height: 100%;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 0 150px 0 50px;
    color: $white;
  }
}
// slider-1
.slider-1 {
  background-color: #000;
  margin: 10px 20px;
  padding-bottom: 30px;
  border-radius: 15px;
  .box {
    height: 100%;
    display: flex;
    justify-content: center;
    align-self: center;
    align-items: center;
    flex-direction: column;
    width: 600px;
    margin: 0 auto;
    padding: 50px 0 20px;
    color: $white;
  }
  .box-2 {
    h6 {
      font-size: 1.15rem;
      padding-top: 20px;
      color: $white;
    }
    .swiper-wrapper {
      padding-bottom: 50px;
    }
    .img {
      height: 250px;
      border-radius: 15px;
      overflow: hidden;
      img {
        border-radius: 15px;
      }
    }
    .swiper-pagination-bullet-active {
      background-color: $white !important;
    }
    .swiper-pagination-bullet {
      background-color: $lit-gray;
    }
  }
  .blue {
    display: block;
    background-color: $blue;
    color: $white;
    height: 40px;
    border-radius: 6px;
    text-align: center;
    text-decoration: none;
    margin: 20px auto;
    padding-top: 7.5px;
    width: 20%;
  }
  .box-1 {
    padding: 50px;
    color: $white;
  }
  .swiper-slide-active {
    transform: translate3d(0px, 0px, 0px) rotateX(0deg) rotateY(0deg) scale(1.1) !important;
  }
}
// slider-2
.slider-2 {
  background-color: $black;
  margin: 10px 20px;
  border-radius: 15px;
  .box-1 {
    position: relative;
    .swiper {
      height: 800px !important;
      padding-top: 0;
    }
    .swiper-slide {
      width: 100% !important;
      height: 100% !important;
    }
    .sub-box {
      background-color: #000;
      color: $white;
      height: auto;
      border-radius: 15px;
      padding: 30px 15px 0;
      position: absolute;
      bottom: 50px;
      margin: 20px;
      z-index: 999999999;
      p {
        font-size: 1.5rem;
      }
    }
  }
  .box-3 {
    padding: 50px;
    color: $white;
    height: 100%;
    .scroll-height {
      height: 500px;
      overflow-y: scroll;
      &::-webkit-scrollbar {
        display: none;
      }
      .sub-box-2 {
        display: flex;
        justify-content: center;
        flex-direction: column;
        height: 100%;
      }
      .nav-pills{
        .nav-item{
          width: 100%;
          .nav-link{
            color: $white;
            opacity: 0.5;
          }
          .nav-link.active{
            background-color: transparent !important;
            color: $white;
            opacity: 1;
          }
        }
      }
    }
  }
}
// slider-3
.slider-3 {
  background-color: #000;
  color: $white;
  padding: 50px 10px;
  .swiper-slide {
    height: auto !important;
  }
  .p2 {
    color: #7c7c7c;
    font-size: 15px;
    font-weight: 100;
    margin: 0;
  }
  .p1 {
    font-size: 15px;
    font-weight: 100;
    margin: 0;
  }
  .swiper-pagination-bullet-active {
    background-color: $white !important;
  }
  .swiper-pagination-bullet {
    background-color: $lit-gray;
  }
}
// contact-form
.contact-form {
  background-color: #000;
  color: $white;
  margin: 20px;
  border-radius: 15px;
  .box {
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 0 50px;
    height: 100%;
    form {
      label {
        margin-top: 20px;
        color: $lit-gray;
        font-size: 17px;
      }
      input {
        width: 100%;
        height: 45px;
        border-radius: 6px;
        background-color: $lit-black;
        padding-left: 10px;
        color: $white;
        &::placeholder {
          font-size: 16px;
          font-weight: 500;
        }
      }
    }
    .link {
      text-decoration: none;
      color: $blue;
    }
    .blue {
      text-align: center;
      text-decoration: none;
      display: block;
      color: $white;
      background-color: $blue;
      height: 40px;
      border-radius: 6px;
      padding-top: 7.5px;
      width: 30%;
      margin-top: 20px;
    }
  }
}
// Footer
footer {
  background-color: $black;
  color: $white;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column;
  ul {
    padding: 0;
    list-style: none;
    display: flex;
    justify-content: center;
    flex-direction: row;
    li {
      padding: 15px;
      a {
        color: $white;
        &:hover {
          color: $white;
          text-decoration: none;
        }
      }
    }
  }
  p {
    padding-top: 15px;
  }
}
